<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-scope" content="profile email">
    <script src="https://accounts.google.com/gsi/client?onload=init" async defer></script>
   <title>Google-Sign-In</title>
</head>
<body>
    <h1>LOGIN</h1>
    <div id="g_id_onload"
         data-client_id="757717539808-odsvdj43evlhobl8lega0vcv39md4762.apps.googleusercontent.com"
         data-callback="onSignIn">
    </div>
    <div class="g_id_signin" data-type="standard"></div>
    <a href="#" onclick="signOut();">Sign out</a>
    <script>
	function init() {
 	 gapi.load('auth2', function() {
		/* Ready. Make a call to gapi.auth2.init or some other API */
            	/*var profile = googleUser.getBasicProfile();
            	console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
           	console.log('Name: ' + profile.getName());
            	console.log('Image URL: ' + profile.getImageUrl());
            	console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
  		});*/
	}
        function onSignIn(response) {
     		const responsePayload = decodeJwtResponse(response.credential);

    		console.log("ID: " + responsePayload.sub);
    		console.log('Full Name: ' + responsePayload.name);
    		console.log('Given Name: ' + responsePayload.given_name);
    		console.log('Family Name: ' + responsePayload.family_name);
    		console.log("Image URL: " + responsePayload.picture);
    		console.log("Email: " + responsePayload.email);
        }
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function() {
                console.log('User signed out.');
            });
        }
    </script>    
</body>
</html>